<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://JAVA.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>DepartmentServlet</servlet-name>
    <servlet-class>com.revature.controllers.DepartmentServlet</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet>
		<servlet-name>NewDepartmentServlet</servlet-name>
		<servlet-class>com.revature.controllers.NewDepartmentServlet</servlet-class>
	</servlet>
  
  <servlet-mapping>
    <servlet-name>DepartmentServlet</servlet-name>
    <url-pattern>/departments</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
		<servlet-name>NewDepartmentServlet</servlet-name>
		<url-pattern>/NewDepartmentServlet</url-pattern>
	</servlet-mapping>
</web-app>
